/* @media (min-width: 1200px)
{
    .navbar {
        max-width: 1140px;
    }    
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .navbar {
        max-width: 960px;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .navbar {
        max-width: 720px;
    }    
}
@media (min-width: 576px) and (max-width: 767px)
{
    .navbar {
        max-width: 540px;
    }    
}
*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* Main blocks in HTML */

html {
	height: 100%;
	font-size: 16px;
}

body {
	height: 100%;
	font-family: "Ubuntu", sans-serif !important;
}

.wrapper {
	min-height: calc(100vh - 96px - 96px);
	/* position: relative; */
}
.main-container {
	min-height: 100%;
}

footer {
	/* position: absolute;
	left: 0;
	bottom: 0;
	width: 100%; */
	min-height: 6rem;
}

/* ========================================================= */

/* My classes */
.bg-banana {
	background-color: #ffe135 !important;
}

.my-bg {
	background: rgb(5, 7, 15);
}

.my-bg-grey {
	background: rgb(20, 22, 30);
}

.bg-gradient-black-darkblue-to-down {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 43, 74, 1) 100%);
}
.bg-gradient-black-darkblue-to-up {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 43, 74, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.my-border-top {
	background: rgb(255, 255, 255);
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 43, 74, 1) 35%, rgba(0, 24, 41, 1) 50%, rgba(0, 43, 74, 1) 65%, rgba(255, 255, 255, 1) 100%);
	padding-top: 20px;
}
.my-border-bottom {
	background: rgb(255, 255, 255);
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 43, 74, 1) 35%, rgba(0, 24, 41, 1) 50%, rgba(0, 43, 74, 1) 65%, rgba(255, 255, 255, 1) 100%);
	padding-bottom: 2px;
}

.p.container {
	/* padding-left: 10rem;
	padding-right: 10rem; */
	padding-top: 3rem;
}

.bg-main-black-color {
	background-color: #1f1f1f;
}

.txt-main-black-color {
	color: #1f1f1f;
}

footer.bg-main-black-color {
	background-color: #1f1f1f;
	color: rgba(255, 255, 255, 0.5);
}

.icon {
	display: inline-block;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	max-width: 100%;
}

.icon-appear {
	margin-top: 1rem;
	margin-left: 1rem;
	color: white;
	opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 0.3s; /*Скорость перехода состояния элемента*/
}

button.clear {
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

button.icon-appear {
	left: 0;
	font-size: 1.5rem;
}

form.search {
	/* border-radius: 15px !important; */

	position: relative;
}

input.search {
	background-color: transparent !important;
	border: 1px solid rgb(255, 255, 255) !important;
	border-radius: 0px;
	color: white !important;
	font-size: 1.2rem;
	/* border-color: rgba(75, 116, 145, 1) !important; */
}

input.search::-webkit-input-placeholder {
	color: rgb(160, 160, 160);
}
input.search::-moz-placeholder {
	color: rgb(160, 160, 160);
}

input.search :focus {
	background-color: white !important;
}

.icon-search {
	width: 1.2rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

button.search {
	background-color: #302e2e00 !important;
	width: 40px;
	height: auto;
}

button.search.pos-abs {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

button.user {
	background-color: rgba(255, 255, 255, 0) !important;
	border: 0;
	font-size: 1.5rem;
}

.fa-search {
	color: #302e2e;
	font-size: 1rem;
}

.fa-user {
	color: rgba(255, 255, 255, 0.5);
	/*  */
}

input:focus {
	box-shadow: 0 0 0 0 !important;
}

button,
button:active,
button:focus {
	outline: none !important;
	box-shadow: 0 0 0 0 !important;
}

/* ========================================================= */

/* For registration and login */
.incorrect {
	border: 1px solid #dc3545 !important;
}

.form-block {
	padding-top: 10rem;
}

.block-absolute {
	/* float:left; */
	height: 550px;
	width: 444px;
	left: 100px;
}

.selected {
	height: 550px;
	width: 444px;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	background-color: white;
	border: 1px solid #007bff;
}

.none-selected {
	width: 40%;
	height: 20rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 5rem;
	padding-right: 5rem;
	/* background-color: #302e2e; */
}

/* ========================================================= */
/* profile classes */

.fake-avatar {
	background-color: rgb(148, 148, 148);
	width: 250px;
	height: 250px;
}
.fake-poster {
	background-color: rgb(148, 148, 148);
	width: 250px;
	height: calc(250px * 1.4);

	transition: 0.5s;
}

.fake-poster:hover {
	background-color: rgb(104, 104, 104);

	transition: 0.5s;
}

.content {
	margin: 0 -1rem;
}

.content-block + .content-block {
	/* margin-left: auto; */
	margin: 0 1rem;
}

.block-info {
	position: relative;
}
.full-info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.rating-block {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.info {
	width: 400px;
}

.fa-star {
	font-size: 1.5rem;
	/* vertical-align: baseline; */
}
.star-rating {
	font-size: 1rem !important;
}

.btn-star:hover ~ .btn-star {
	color: #ffe135 !important;
}
.btn-star:hover {
	color: #ffe135 !important;
}
.btn-star {
	color: grey !important;
}
.btn-star-active:hover {
	color: #ffe135 !important;
}

.content-block {
	max-height: calc(250px * 1.4);
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; /* Добавляем многоточие */
}

.poster {
	object-fit: cover;
}

.poster,
.poster-link {
	width: 250px;
	max-height: calc(250px * 1.4);

	transition: all 0.3s;
}
.poster-block:hover .poster {
	filter: brightness(0.4) blur(1px);
	transition: all 0.3s;
}

.icon-appear:hover {
	opacity: 1;
}

.poster-link:hover + .icon-appear {
	opacity: 1;
}

.fake-poster:hover .icon-appear {
	opacity: 1;
}

.tag {
	background-color: none !important;
}

.description {
	text-align: justify;
}

/* ========================================================= */

/* Changes in bootstrap classes (it won't cause problems) */

div.container {
	/* background-color: white; */
	/* min-height: calc(100vh - 5rem - 6rem); */
}

.navbar {
	height: 6rem;
	font-size: 1.2rem;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10rem !important;
	padding-right: 10rem !important;
}

li.active {
	border: 1px solid white;
}
/* ========================================================= */
